*.env
*.env.local
.env.*.local
.vscode/

# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.app
*.class
*.cache
*.msi

# Rider/VS/VSCode stuff
.vs/
*.user
*.suo
*.userprefs

# NuGet packages
*.nupkg
packages/
.nuget/

# Publish output
publish/
*.publish.xml

# Logs
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
dist/

backend/cookworm/appsettings.json
backend/cookworm/appsettings.json
