*.env
*.env.local
.vscode

# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.app
*.class
*.cache
*.msi

# Rider/VS/VSCode stuff
.vs/
*.user
*.suo
*.userprefs

# NuGet packages
*.nupkg
packages/
.nuget/

# Publish output
publish/
*.publish.xml

# Logs
*.log


